In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# filepath = 'https://media.githubusercontent.com/media/LondonEnergyMap/cleandata/master/epc/domestic/epcshort_postcodefull.csv'
filepath = 'epcshort_postcodefull.csv'
df_all = pd.read_csv(filepath)

In [3]:
# create new column of building age based on wall description and transcation type
df_all['wall_firstword'] = df_all.wall.str.split().str.get(0)
wall_mapping = {'Cavity': 2, 'System': 3, 'Timber': 3}
df_all['age'] = df_all.wall_firstword.map(wall_mapping)
df_all.age.fillna(1, inplace=True)
df_all.loc[df_all.transact_type == 'new dwelling', 'age'] = 4

In [4]:
# create new column for number of exposed sides based on property type and form
prop_mapping = {'House': 0, 'Flat': -2, 'Bungalow': 0.5, 'Maisonette': -2,
                'Park home': 0}
built_mapping = {'Detached': 0, 'Mid-Terrace': -2, 'Semi-Detached': -1,
                 'Enclosed Mid-Terrace': -2.5, 'Enclosed End-Terrace': -1.5,
                 '': 0}


df_all['propmap'] = df_all.prop_type.map(prop_mapping)
df_all['builtmap'] = df_all.builtform.map(built_mapping)
df_all['exposedsides'] = 6 + df_all.propmap + df_all.builtmap

In [5]:
# select only entries with less than 10 rooms
n = 10
df = df_all[(df_all.nrooms <= n)]

# restrict upper and lower limit for floor area
tfa_upper = 50*n
tfa_lower = 20
df = df[(df.tfa <= tfa_upper) & (df.tfa >= tfa_lower)]

# select entries only with certain number of meters, and select mains gas only
m = 6
df = df[(df.gasmeters <= m) & (df.elecmeters <= m) & (df.mainsgas == 'Y')]

In [6]:
dfml = df.fillna(value=0)
x = dfml[['tfa', 'nrooms', 'age', 'exposedsides']]
y = dfml[['gasmid', 'elecmid']]

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2, random_state=42)

In [7]:
lrmodel = LinearRegression()
lrmodel.fit(x, y)
predictions = lrmodel.predict(x)
scores = lrmodel.score(x, y)
scores

0.5409266922617264

In [8]:
df_unknown = df_all[(~df_all.isin(df))]

In [9]:
df_unknown = df_unknown.fillna(value=0)
x_unknown = df_unknown[['tfa', 'nrooms', 'age', 'exposedsides']]
y_unknown = df_unknown[['gasmid', 'elecmid']]

unknowns = lrmodel.predict(x_unknown)

In [10]:
unknowns

array([[ 8711.56708946,  2803.00687386],
       [ 7361.21979945,  2452.79510387],
       [ 8555.50260159,  2610.07895111],
       ...,
       [10526.92115305,  2582.22187743],
       [ 6728.88410298,  2013.29787889],
       [ 4109.19386304,  1657.16273152]])

In [11]:
df_unknown['gas_predict'] = unknowns[:,0]
df_unknown['elec_predict'] = unknowns[:,1]

In [12]:
df['gas_predict'] = df.gasmid
df['elec_predict'] = df.elecmid

In [13]:
df_predict = df_unknown.append(df)

In [14]:
totalgas = df_predict.gas_predict.sum()
totalgas

16976228003.731655

In [15]:
totalelec = df_predict.elec_predict.sum()
totalelec

4312426027.769174

In [16]:
totalcons = totalgas + totalelec
totalcons

21288654031.500828

In [17]:
filegas = 'https://media.githubusercontent.com/media/LondonEnergyMap/cleandata/master/consumption/gasldn2015.csv'
filelec = 'https://media.githubusercontent.com/media/LondonEnergyMap/cleandata/master/consumption/elecldn2015.csv'

dfgas = pd.read_csv(filegas)
dfelec = pd.read_csv(filelec)

In [18]:
dfgas.head()

,la,lacode,lsoa,lsoacode,gas,gasmeters,gasmean,gasmid
0,Barking and Dagenham,E09000002,Barking and Dagenham 001A,E01000027,7328749.24,641,11433.30615,10486.65
1,Barking and Dagenham,E09000002,Barking and Dagenham 001B,E01000028,5571294.76,601,9270.041198,8466.86
2,Barking and Dagenham,E09000002,Barking and Dagenham 001C,E01000029,8176398.62,607,13470.17895,12884.27
3,Barking and Dagenham,E09000002,Barking and Dagenham 001D,E01000030,6804284.64,709,9597.016417,8921.86
4,Barking and Dagenham,E09000002,Barking and Dagenham 002A,E01000031,8628396.31,567,15217.63018,14126.61

In [19]:
dfgas['gas'] = pd.to_numeric(dfgas.gas, errors='coerce')
dfelec['elec'] = pd.to_numeric(dfelec.elec, errors='coerce')

In [20]:
realelec = dfelec.elec.sum()
realelec
#10514368868

11895670405.73

In [22]:
realgas = dfgas.gas.sum()
realgas
#38200122665

36401884696.7